.title {
    -fx-text-fill: #56aaa4;
    -fx-font-size: 19px;
    -fx-font-weight: bolder;
}

.option {
    -fx-text-fill: #56aaa4;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.menuKnopje {
    -fx-background-color: #e15c96;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.groenKnopje {
    -fx-background-color: #56aaa4;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.white-option {
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.layout_background {
    -fx-background-image: url("background.png");
    -fx-background-size: 100% 100%;
}

.inputLabel {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #56aaa4;
}

.inputLabel2 {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #383838;
}

.foutMeldingLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #fa3939;
}

.foutMeldingLabel2 {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #fa3939;
}

.naamLabel{
 -fx-font-size: 16px;
 -fx-font-weight: bold;
 -fx-text-fill:  black;
-fx-padding: 7px 0px 7px 0px;
}